.section-container.devices{
     background-color: #C6B3C1;
     padding: 40px 0px 80px;
}
.device-card{
     width: 60%;
     margin: auto;
     margin-top: 40px;
     padding: 35px;
     text-align: justify;
     background-color: #F2F1F0;
     box-shadow: 4px 2px 10px rgba(133, 133, 133, 0.55);
     border-radius: 5px;
     border: 1px solid rgba(0, 0, 0, 0.1);
}
.device-card:nth-child(2){
     margin-top: 15px;
}
.device-action{
     width: 150px;
}
.device-dscptn > h2{
     margin-bottom: 10px;
}
.device-dscptn > p{
     font-size: 20px;
}



/*
 * Search fiel for getting information from the Open Weather API
 */
.section-container.temperature{
     background-color: #cecac585;
     padding: 40px 0px 80px;
     min-height: 60vh;
}
.form-temperature{
     width: 50vw;
     margin: auto;
     margin-bottom: 30px;
     padding-top: 15px
}
#inputTempCity{
     background-color: #2c001e3a;
     color: white;
     padding: 12px 20px;
     width: 60%;
     font-family: 'Roboto Slab', serif;
     font-size: 17px;
     border: 1px solid #2c001e9a;
     border-top-left-radius: 9px;
     border-bottom-left-radius: 9px;
     transition: background-color 1s ease;
}
#inputTempCity:focus{
     background-color: #6b4c61a2;
}
#buttonSearchTemp{
     background: linear-gradient(to bottom, #2C001E 5%, #2c001e73 100%);
     color: white;
     font-size: 18px;
     cursor: pointer;
     padding: 0px 10px;
     border: 1px solid #2c001e9a;
     border-left: none;
     border-top-right-radius: 9px;
     border-bottom-right-radius: 9px;
}
#buttonSearchTemp:hover{
     background: linear-gradient(to top, #2C001E 5%, #2c001e73 100%);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: rgba(255, 255, 255, 0.486);
     opacity: 1; /* Firefox */
   }
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: white;
   }
   ::-ms-input-placeholder { /* Microsoft Edge */
     color: white;
   }



/*
 * Card shown underneath the search field with the information from the API
 */
.show-temperature{
     background-color: #E95420;
     opacity: 1;
     width: 60vw;
     margin: auto;
     padding: 30px 0px;
     border-radius: 30px;
     box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.541);
}
#weatherCity{
     font-size: 55px;
}
#weatherCountry{
     margin-bottom: 20px;
}
#weatherTemp{
     font-size: 45px;
}
#weatherIcon{
     transform: translateY(-20px);
}
#weatherMain{
     font-size: 40px;
     transform: translateY(-27px);
}
#weatherDescription{
     font-size: 18px;
     transform: translateY(-27px);
}





@media screen and (max-width: 1200px){
     .devices .device-card{
          width: 70%;
          padding: 30px;
     }
     .form-temperature{
          width: 65vw;
     }
}

@media screen and (max-width: 1024px){
     .devices .device-card{
          width: 80%;
          padding: 20px;
     }
     .form-temperature{
          width: 80vw;
     }
}

@media screen and (max-width: 768px){
     .section-container.temperature{
          min-height: 100vh;
     }
     .form-temperature{
          width: 99vw;
     }
     .show-temperature{
          width: 93vw;
     }
     #weatherCity{
          font-size: 40px;
          margin-bottom: 5px;
     }
     #weatherCountry{
          margin-bottom: 14px;
     }
     #weatherTemp{
          font-size: 35px;
     }
     #weatherIcon{
          transform: translateY(-20px);
     }
     #weatherMain{
          font-size: 30px;
          transform: translateY(-27px);
     }
     #weatherDescription{
          font-size: 13px;
          transform: translateY(-27px);
     }
     .devices .device-card{
          width: 92%;
          padding: 10px;
          padding-right: 5px;
          margin-top: 25px;
     }
     .device-dscptn h2{
          font-size: 20px;
          margin-bottom: 4px;
     }
     .device-dscptn p{
          font-size: 14px;
     }
}