/* 
 * GENERAL RULES for the index.html page
 * and also for screens with more than 769px wide
 */
*{
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     box-sizing: border-box;
}


/*
 * General classes to use with Flex Box elements.
 */
.flex{
     display: flex;
}
.space-around{
     justify-content: space-around;
}
.center{
     justify-content: center;
}
.space-between{
     justify-content: space-between;
}







.led-container{
     height: 1000px;
}

.led-container > .inner-container{
     width: 70%;
     margin: auto;
     text-align: center;
}



footer{
     background-image: linear-gradient(to left, #2C001E 0%, #5E2750, #77216F 100%);
     text-align: center;
     color: white;
     padding: 20px 0px;
}