/*
 * TOP NAVBAR, present in the top of every page of this application.
 * It has a logo with the name of the app as well as links to navigate through the functionalities
 */
 #top-navbar{
    background-image: linear-gradient(to right, #2C001E 0%, #5E2750, #77216F 100%);
    margin-bottom: 50px;
    height: 8vh;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
#top-logo{
    color: white;
    font-size: 32px;
    font-weight: 700;
}
#top-navbar > nav{
    width: 40vw;
}
.top-navlinks > li{
    list-style: none;
    margin: 0px 20px;
}
.top-navlinks > li > a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: color 0.48s ease-in-out;
}
.top-navlinks > li > a:hover{
    color: #E95420;
    text-shadow: 2px 2px 5px #2C001E;
}
.burger-button{
    display: none;
}
 .burger-button > div{
     background-color: white;
     width: 23px;
     height: 3px;
     margin: 4px;
     border-radius: 5px;
}


/*
 * 
 */
@media screen and (max-width: 1200px){
    #top-logo{
        font-size: 30px;
    }
    #top-navbar > nav{
        width: 55vw;
    }
}
@media screen and (max-width: 1024px){
    #top-logo{
        font-size: 26px;
    }
    #top-navbar > nav{
        width: 65vw;
    }
    .top-navlinks > li{
        margin: 0px 10px;
    }
}

/*
 * At this point (less than 768px) the top Navigation Bar colapses into a burger button
 */
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden; /*prevent from seeing the sidebar menu that is hidden in the right side of the page*/
   }
   #top-navbar{
        height: 8vh;
   }
    #top-logo{
        width: 30vw;
        margin: auto;
        font-size: 3vh;
    }
    .burger-button{
        display: block;
        cursor: pointer;
        width: 25px;
        margin: auto;
    }
    .top-navlinks{
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to right, #502144 0%, #77216F 100%);
        transform: translateX(100%); /*hides the sidebar out of the page, at the right side*/
        transition: transform 0.5s ease-in; /*constrols the transition (makes an effect)*/
    }
    .top-navlinks li{
        opacity: 0;
    }
    a.top-link{
        font-size: 3vw;
    }
}
.sidebarmenu-show{
    transform: translateX(0px); /*shows the sidebar menu at the right side of the page*/
    opacity: 0.98;
}

@keyframes topNavLinksSlide{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.overflow-hidden{ 
    overflow: hidden;
}
